{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}


{% block content %}
{% get_providers as socialaccount_providers %}
<h1>Sign In</h1>
<p>{% if socialaccount_providers %}You can gain access through participating third party authentication services,
or you can{% else %}If you don't have an account you can{% endif %} <a href="{{ signup_url }}">sign up with us here</a>!</p>

{% if socialaccount_providers %}
<div class="card card-block row">
  <h3 class="card-title">External Sign In</h3>
  <p>Start by clicking one of the icons below.</p>
  <span>
    <a title="Sign in with Twitter" class="socialaccount_provider Twitter"
    href="/accounts/twitter/login/?process="><i class="fa fa-twitter fa-3x fa-fw"></i></a>
  </span>
  <span>
    <a title="Sign in with Facebook" class="socialaccount_provider Facebook"
    href="{% provider_login_url 'facebook' method='js_sdk' %}"><i class="fa fa-facebook fa-3x fa-fw"></i></a>
  </span>
</div>
{% endif %}
<div class="card card-block row">
  <h3 class="card-title">Sign In With Your BeyondCompare Account</h3>
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button id="sign-in-button" class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
</div>
{% endblock %}
