{% extends "account/base.html" %}

{% block content %}


<h1>Log Out</h1>
<p>We hope to see you back soon!</p>

<div class="card card-block row">
  <h3 class="card-title">Confirm Log Out</h3>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-danger" type="submit">Log Out</button>
  </form>
</div>

{% endblock %}
