{% extends "base.html" %}
{% load static thumbnail humanize %}

{% block content %}

<h1 style="display: inline;">{{ object.title }} </h1>{% if object.owner == request.user %}<p style="display: inline;">(<a href="{% url 'comparisons:update' object.pk %}">Edit</a>)</p>{% endif %}
<p class="font-italic">A comparison set created by {{ object.owner.username }}. So far, {{ related_comparisonitems.count }} submissions have been made.</p>

<div class="card card-block row">
  {% if object.description %}
  <h4>Description</h4>
  <p>{{ object.description }}</p>
  {% endif %}

  <h4>Created</h4>
  <p>{{ object.date_created|naturalday:"F j, o"|capfirst }}.</p>

  {% if object.date_starting %}
  <h4>Begins</h4>
  <p>{{ object.date_starting|naturalday:"F j, o"|capfirst }}.</p>
  {% endif %}

  {% if object.date_ending %}
  <h4>Ends</h4>
  <p>{{ object.date_ending|naturalday:"F j, o"|capfirst }}.</p>
  {% endif %}

  <div><h4 style="display: inline;">Submissions </h4><a href="{% url 'comparisons:submit' object.pk %}" class="make-submission-icon" title="Make a submission"><i style="display: inline;" class="fa fa-plus fa-lg"></i></a></div>
  {% if related_comparisonitems %}
  {% for comparisonitem in related_comparisonitems %}
  {% thumbnail comparisonitem.image "200x200" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" {% if comparisonitem.title %}data-toggle="tooltip" data-placement="top" title="'{{ comparisonitem.title }}', by {{ comparisonitem.owner.username }}"{% else %}data-toggle="tooltip" data-placement="top" title="Submission by {{ comparisonitem.owner.username }}"{% endif %}>
  {% endthumbnail %}
  {% endfor %}
  {% else %}
  <p>It looks like nobody's submitted anything here. <a href="{% url 'comparisons:submit' object.pk %}">You can be the first!</a></p>
  {% endif %}

{% endblock content %}
