{% extends "base.html" %}
{% load static thumbnail %}

{% block content %}

<h1 style="display: inline;">{{ object.title }} </h1><p style="display: inline;">(<a href="{% url 'comparisons:update' object.pk %}">Edit</a>)</p>
<p class="font-italic">A comparison set created by {{ object.owner.username }}.</p>

<div class="card card-block row">
  <h3 class="card-title">Details</h3>
  {% if object.description %}<p>{{ object.description }}</p>{% endif %}
  <p>Created on {{ object.date_created|date:"F j, o" }}</p>

  {% if related_comparisonitems %}
  {% for comparisonitem in related_comparisonitems %}
  {% thumbnail comparisonitem.image "200x200" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}

  {% endfor %}


  {% else %}
  <p>It looks like nobody's submitted anything here. You can be the first!</p>
  {% endif %}

{% endblock content %}
