{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>{{ object.title }}</h1>
<p class="font-italic">A comparison set created by {{ object.owner.username }}.</p>

<div class="card card-block row">
  <h3 class="card-title">Details</h3>
  {% if object.description %}<p>{{ object.description }}</p>{% endif %}
  <p>Created on {{ object.date_created|date:"F j, o" }}</p>

  {% if related_comparisonitems %}
  Yay
  {% else %}
  <p>It looks like nobody's submitted anything here. You can be the first!</p>
  {% endif %}

{% endblock content %}
