{% extends "base.html" %}

{% block content %}

<h1>Comparisons</h1>
<p>It's not a competition. Just kidding. It's <em>absolutely</em> a competition.</p>
<div class="row">
  <div class="col-sm-4 card card-block">
    <h3 class="card-title">Browse</h3>
    <p class="card-text">See active comparisons, make your voice heard.</p>
    <a href="#" class="btn btn-primary">Browse</a>
  </div>
  <div class="col-sm-4 card card-block">
    <h3 class="card-title">Create</h3>
    <p class="card-text">Create your own comparisons, see where everything stacks up.</p>
    <a href="#" class="btn btn-primary">Create!</a>
  </div>
  <div class="col-sm-4 card card-block">
    <h3 class="card-title">Manage</h3>
    <p class="card-text">View and modify your current competitions, visualize the rankings.</p>
    <a href="#" class="btn btn-primary">Manage!</a>
  </div>
</div>

{% endblock %}
