{% extends "base.html" %}

{% block content %}

<h1>About BeyondCompare</h1>
<p>
  BeyondCompare is a platform for creating and voting in competitions, currently under construction.
  Created by <a href="http://ericzaporzan.com">Eric Zaporzan</a> (<a href="{% url 'contact' %}">Contact</a>).
</p>

<div class="card card-block row">
  <h3 class="card-title">Using BeyondCompare</h3>
  <p>
    This website is still under construction. I'm offering no warranties or guarantees about the stability,
    longevity, or quality of the software; it's provided "as-is". Feel free to use the site to your heart's content;
    If you happen to find any bugs or problems (I'm sure you will), please <a href="{% url 'contact' %}">contact me</a>.
  </p>
</div>

<div class="card card-block row">
  <h3 class="card-title">Security and Privacy</h3>
  <p>
    I've done my best to ensure the site is secure by following best-practices for encryption, password storage, and protection of
    personal information. However, this site is effectively in pre-alpha and this is a sneak peek. Don't yet provide information to the site that you
    wouldn't feel comfortable posting publically. Don't reuse passwords from other sites. That last part is good advice in general.
  </p>
</div>
<div class="card card-block row">
  <h3 class="card-title">Other Stuff</h3>
  <p>
    Don't post copyrighted content. If the owner of the copyrighted material files a complaint the content will be removed and your
    access to the site may be restricted as a result.
  </p>
  <p>
    Follow development progress at the <a href="https://www.github.com/EricZaporzan/compare">GitHub repo</a> of this project.
  </p>
</div>
{% endblock %}
