{% extends "base.html" %}

{% block content %}

<h1>Contact</h1>

<div class="card card-block row">
  <h3 class="card-title">I Like Getting E-mail</h3>
  <p>
    If you find anything wrong or buggy with the site, if you have any ideas to make it better, or if
    you just want to chat, I can be reached in a variety of ways. You can
    <a href="mailto:me@ericzaporzan.com">e-mail me</a>, or reach me on social media via
    <a href="http://ericzaporzan.com">my personal site</a>. Don't hesitate to reach out.
  </p>
</div>

{% endblock %}
